<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.com.mapper.OrderMapper">
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into tb_order(order_name,address,price,num) values (
        #{orderName},
        #{address},
        #{price},
        #{num}
        )
    </insert>
    <select id="getOrderById" parameterType="Long" resultType="dev.com.pojo.Order">
        select * from tb_order where order_id= #{id}
    </select>
</mapper>